body {
    background-color: green;
    color: white;
}

#header {
    color: black;
    font-size: 60px;
}

h2 {
    float: right;
    padding: 30px;
}

.hidden {
    display: none;
}

.show {
    display: contents;
}

.suits {
    color: black;
    font-size: 50px;
}

span {
    color: red;
}